@model SistemaGptiCelular.Modelos.Vendedor
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Vendedor";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;" >
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        @if(Model.Id != 0)
        {
            // Actualizar 
            titulo = "Actualzar Vendedores ";
            <input type="hidden" asp-for="Id" id="id"/>
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre del Vendedor</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre del Vendedor" id="nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nip Asignado</label>
                <input type="text" asp-for="Nip" class="form-control" placeholder="Nip Asignado" />
                <span asp-validation-for="Nip" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Status</label>
                <select asp-for="Status" class="form-select">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div>
            @if(Model.Id !=0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id"/>
            }
            else
            {
                <partial name="_BotonesCrearYRegresar"/>
            }
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
    <script>
        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });

        function validarNombre() 
        { 
            var url = '@Url.Content("~/")' + "Admin/Vendedor/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Vendedor ya Existe", "error");
                        nombre.value = "";
                    }
                });
            })
        }
    </script>
}